@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.app-root {
  width: 100%;
  position: relative;
}

.mockup-container {
  position: absolute;
  top: 150px;
  right: 0;
}

.iphone-mockup {
  padding-left: 50px;
  max-width: 100%;
  box-sizing: border-box;
  animation: fade-in 0.5s ease-in-out;
}

.center-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.title-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#fdddc100, #fdddc1ff);
}

.title-wrapper {
  width: 100%;
  max-width: 1200px;
  box-sizing: border-box;
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.ttatta-icon {
  width: 120px;
  margin-top: 400px;
  margin-bottom: 30px;
  animation: fade-in 0.2s ease-in-out;
}

.ttatta-logo {
  width: 400px;
  margin-bottom: 50px;

  @media (max-width: 768px) {
    width: 300px;
  }

  @media (max-width: 400px) {
    width: 200px;
  }
}

.hero-title {
  color: #ff8072;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  word-break: keep-all;

  @media (max-width: 768px) {
    font-size: 24px;
  }
}

.hero-subtitle {
  color: #ff8072;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;

  @media (max-width: 768px) {
    font-size: 12px;
    line-height: 16px;
  }
}

.inquiry-container {
  width: 100%;
  min-height: 50dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fdddc1;
}

.inquiry-button {
  background: #ff9681;
  border: none;
  border-radius: 999px;
  padding: 16px 32px 16px 48px;
  cursor: pointer;
  box-shadow: 0px 10px 10px #00000010;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.inquiry-button-text-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.inquiry-button-sub {
  font-size: 14px;
  font-weight: lighter;
  line-height: 20px;
}

.footer-container {
  width: 100%;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ff8072;
}

.privacy-policy-link {
  border: none;
  background: none;
  cursor: pointer;
  color: white;
  text-decoration: underline;
  font-size: 14px;
  font-weight: normal;
}

.privacy-policy-popup {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.privacy-policy-content {
  overflow-y: scroll;
}

.privacy-policy-popup-end-padding {
  height: 50px;
}

.privacy-policy-popup-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  background: linear-gradient(#ffffff00, white);
}

.privacy-policy-popup-close-button {
  background: #ff8072;
  border-radius: 999px;
  padding: 4px 32px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  box-shadow: 0px 5px 5px #00000010;
}
